.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #131316;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.w-hug {
  width: 178px;
}

.h-hug {
  height: 56px;
}

.w-fill {
  width: 272px;
}

.h-fill {
  height: 48px;
}

.header {
  max-width: 1920px;
  width: 100%;
  background-color: #1C1C21;
  display: flex;
  justify-content: center;
}

.header-navigation {
  max-width: 1280px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.two-columns {
  display: flex;
}

.header-btn {
  background-color: transparent;
  display: flex;
  align-items: center;
  border: none;
  color: white;
  padding: 0;
  cursor: pointer;
  transition: 0.5s;
}

.header-btn:hover {
  opacity: 0.5;
}

.logo {
  position: absolute;
  top: 20px;
  cursor: pointer;
}

.main {
  max-width: 1240px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.scroll-block {
  height: 480px;
  overflow-y: auto;
  overflow-x: hidden;
}

.burger-ingredients {
  height: 716px;
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  overflow-x: hidden;
}

.burger-ingredients-card {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.modal {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
  pointer-events: none;
}

.modal.active {
  pointer-events: all;
  opacity: 1;
}

.modal-content {
  position: relative;
  padding: 20px;
  border-radius: 40px;
  background-color: #1C1C21;
  width: 720px;
  transform: scale(0.5);
  transition: 0.4s;
}

.modal-content.active {
  transform: scale(1);
}

.nutrients {
  display: flex;
  justify-content: center;
}

.nutrients-item {
  text-align: center;
}

.close-button {
  cursor: pointer;
  position: absolute;
  right: 40px;
  top: 15px
}

.order-done {
  background-image: url(./image/done.png);
  width: 120px;
  height: 120px;
}